<ul>
  <% @articles.each do |article|%>
  <li class="title"><%= link_to article.title, article_path(article), class: "text-decoration-none" %>
  <p class="content"><%= article.content %></p>
  <% end %>
</ul>
